.experience {
  padding: 4rem 2rem;
}
.job {
  display: flex;
  gap: 2rem;
}
.job-info {
  width: 200px;
}

.experience h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.experience h2 {
  font-size: 1.2rem;
  color: #666;
}

@media (min-width: 768px) {
  .experience h1 {
    font-size: 3rem;
  }

  .experience h2 {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .experience h1 {
    font-size: 4rem;
  }

  .experience h2 {
    font-size: 1.5rem;
  }
}